.title_area{
    float: none;
    position: relative;
    height: 34px;
    zoom: 1;
}

.title_area:after{
    display: block;
    clear: both;
    content: '';
}

/* .blind{
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
} */