.title_area{
    float: none;
    position: relative;
    height: 34px;
    zoom: 1;
}

.title_area:after{
    display: block;
    clear: both;
    content: '';
}

/* .blind{
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
} */


/*갤러리*/
.sub_photo li{
    float: none;
    position: relative;
    width: 160px;
    margin-right: 8px;
    margin-bottom: 30px;
    display: block;
}

.sub_photo li.last{
    margin-right: 0;
}

.sub_photo li a strong{
    display: block;
    overflow: hidden;
    padding-right: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
}

.sub_photo li img{
    width: 160px;
    height: 120px;
}

.sub_photo p.thmb{
    margin-bottom: 3px;
}

.sub_photo .tx_brief{
    margin-top: 2px;
    padding-right: 13px;
}

.sub_photo .tx_brief a{
    color: #666;
}


/*게시판 페이징*/
.paginate{
    padding: 16px 0 0;
    text-align: center;
}

.paginate a,
.paginate strong{
    /* display: inline-block;
    position: relative;
    width: 17px; */
    margin-right: 1px;
    padding: 2px 4px 3px;
    border: 1px solid #f5f2ed;
    color: #666;
    
}

.paginate strong{
    border: 1px solid #928070;
    color: #f52d2d !important;
}

.paginate .pre{
    margin-right: 6px;
    padding: 5px 6px 2px 14px;
    padding-bottom: 1px;
    /* background: url(http://static.naver.com/common/paginate/bu_pg3_l_off.gif) no-repeat 6px 5px !important; */
    letter-spacing: -1px;
}

.paginate .next{
    margin-left: 4px;
    padding: 5px 14px 2px 6px;
    padding-bottom: 1px;
    /* background: url(http://static.naver.com/common/paginate/bu_pg3_r_off.gif) no-repeat 62px 5px !important; */
    letter-spacing: -1px;
}

.paginate a.pre{
    /* background: url(http://static.naver.com/common/paginate/bu_pg3_l_on.gif) no-repeat 33px 6px !important; */
}

.paginate a.next{
    /* background: url(http://static.naver.com/common/paginate/bu_pg3_r_on.gif) no-repeat 33px 6px !important; */
}

.paginate .pre,
.paginate .next{
    display: inline-block;
    position: relative;
    /* top: -2px; */
    width: 75px;
    border: 1px solid #b4b4b4;
    color: #ccc;
}

.paginate a.pre,
.paginate a.next{
    color: #565656;
}

.paginate a:hover{
    border: 1px solid #e9e9e9;
    color: #fff;
    background-color: #939393 !important;
}